body {
    margin: 0;
    padding: 0;
    font-family: 'yomogi', 'Arial', sans-serif;

    color:#FF6347;
    font-weight: 400;

    width: 100%;
    height: 100%;
/* or haikei (10) .png */
    background-image: url('https://lindsaywardd.github.io/meal-planner-website/assets/blob-scene-haikei.svg');
    background-size: cover;          /* Ensures the image covers the whole screen */
    background-position: center;     /* Centers the image */
    background-repeat: no-repeat;    /* Prevents the image from repeating */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FF6347;
    padding: 1rem 2rem;
}

.navbar-left {
    flex: 1;
    height: 100%;
    width: auto;
}

.logo {
    height: 60px;
    width: auto;
}

.navbar-center {
    flex: 1;
    text-align: center;
}

.web-title {
    color: #FF6347;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Sensei', 'Arial', sans-serif;
}

.navbar-right {
    flex: 1;
    text-align: right;
}

.navbar-nav {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar-nav li {
    margin-left: 1.5rem;
}

.navbar-nav a {
    color: #ff6347;
    text-decoration: none;
    font-family: 'yomogi', 'Arial', sans-serif;
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
    transition: background-color 0.3s;
    text-shadow: #a1453313 0px 10px 20px;
}

.navbar-nav a:hover {
    color: #b1371e;
    text-shadow: #a145332c 0px 10px 20px;
    transform: translate(0, -5px);
}

#signIn {
    color: white;
    background-image: linear-gradient(to right, #FF6347, #ffbb00);
    text-decoration: none;
    font-family: 'yomogi', 'Arial', sans-serif;
    font-size: 16px;
    padding:5px 10px;
    transition: background-color 0.3s;
    border-radius: 17px;
    border-color: #FF6347;
    transform: translate(0, -5px);
    box-shadow: #a1453313 0px 10px 20px;
}

#signIn:hover {
    background-image: linear-gradient(to right, #d44b30, #ff6347);
    /* border-color: #d44b30; */
    transition: transform 0.3s;
    transform: translate(0, -10px);
    box-shadow: #a145332c 0px 10px 20px;
    
}


/* Landing page */

.container {
    display: flex;
    height: 100vh;
    /* margin: 40px; */
}

.left-half {
    justify-content: space-between; /* or space-around */
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 80vh;
}

.right-half {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; /* adjust this value as needed */
}

/* left half */

.left-half {
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* adjust this value as needed */
}

.left-half h1 {
    font-family: 'yomogi', 'Arial', sans-serif;
    font-size: 60px;
    text-shadow: #a145332c;
    font-weight: bold;
    color: #FF6347;
    margin-bottom: 1rem;
}

.left-half p {
    font-size: 32px;
    color: #fd9474;
    margin-bottom: 1rem;
    font-family: 'Sensei', 'Arial', sans-serif;
}

.btn { 
    display: inline-block;
    padding: 0.75rem 1.5rem;
    /* background-color: #FF6347; */
    background-image: linear-gradient(to right, #FF6347, #ffbb00);
    color: #fcfaf9;
    margin-top: 30px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 33px;
    transition: background-color 0.3s;
    box-shadow: #a1453313 0px 10px 20px;
}

.btn:hover {
    transition: transform 0.3s;
    background-image: linear-gradient(to right, #d44b30, #ff6347);
    transform: translate(0, -5px);
    box-shadow: #a145332c 0px 10px 20px;
}

.spline-viewer {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%; /* take full height of the parent */
}

/* Style the scrollbar track */
html::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
}

html::-webkit-scrollbar-track {
    background: transparent; /* Color of the tracking area */
}

/* Style the scrollbar thumb */
html::-webkit-scrollbar-thumb {
    background-color: #fd9474; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners */
    height: 20px;
}

/* Change scrollbar track on hover */
html::-webkit-scrollbar-thumb:hover {
    background-color: #ff6347; /* Darker color on hover */
}

#a {
    color: #FF6347;
    margin-left: 5px;
    text-decoration: none;
}

#a:hover {
    color: #d44b30;
}